html, body {
    background-color: #2D125C;
    margin: 0;
}

header {
    background: white;
}

main {
    background: white;
}
  
footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
}