html, body {
    /* background-color: #2324E1; */
    margin: 0;
}

header {
    /* background: #000000; */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232324e1' fill-opacity='1'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
    background: #000000;
}

.content {
    background: #000000;
}

footer {
    background: #2324E1;
    padding: 2rem;
    text-align: center;
    color: white;
}

h1 {
    color: #2324E1;
    text-shadow: 4px 4px 4px rgb(176, 176, 176);
}

h2 {
    color: #2324E1;
    text-shadow: 2px 2px 2px rgb(176, 176, 176);
}

p {
    color: white;
}

.dnd {
    background-color: #000000;
}

.drag, 
.drop {
    margin: 5px;
    padding: 10px;
}

.drag-item {
    filter: drop-shadow(rgb(243, 109, 138) 5px 5px 5px);
    border-style: outset;
    border-width: 5px;
    height: 100%;
    background: #F3436A;
    border-color: #F3436A;
    display: flex;
    flex-direction: row;
}

.drag-item:hover,
.drop:hover {
    border-color: #2324E1;
}

.drop {
    background-color: #eaeaea;
    border: 4px dashed #2324E1;
    border-style: inset;
    min-height: 55px;
    /* background-color: #d7d7d7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232324e1' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */
}

.term-name {
    font-weight: bold;
    padding: 5px;
}

.term-description {
    background-color: #FAFAFA;
    color: #2324E1;
    margin: 5px;
    filter: drop-shadow(#b2b2b2 5px 5px 4px);
}

/* .term-description:hover {
    font-weight: bold;
} */
