html, body {
    background-color: #2D125C;
    margin: 0;
}

header {
    background: white;
}

main {
    background: white;
}

.content {
    background: linear-gradient(-135deg, #3F1A82 55%, #FF5838);
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
}

h1 {
    color: #2D125C;
    text-shadow: 2px 2px 2px grey;
}

h2 {
    color: #2D125C;
    text-shadow: 2px 2px 2px grey;
}

p {
    padding: 20px 50px;
    background-color: rgb(255, 255, 255, .25);
    border-radius: 10px;
}

#audio {
    border: 2px solid #FF9E8C;
    border-radius: 5px;
    padding: 5px;
}

.dnd {
    background-color: white;
}

.drag, .drop {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.drag {
    border: 1px solid #FF9E8C;
    background-color: #FFEEEB;
    color: #FF745A;
    border-radius: 10px;
}

.drop {
    background-color: #F4F4F4;
    border: 1px dashed #FF9E8C;
    border-radius: 10px;
}

.drop-item p {
    background-color: #FFEEEB;
    color: #FF5838;
    margin: 5px;
}