body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    margin: 15px 15px 0px 15px;
    padding: 30px 20px;
    display: flex; 
    flex-direction: row;
}

main {
    margin: 0 15px;
    padding: 30px 20px;
}

h2 {
    margin-left: auto;
}

p {
    margin: 0;
}

.content {
    min-height: 100vh;
    padding: 15px;
}

.dnd {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
}

.drop-container {
    display: flex;
    flex-direction: column;
}

.drop-item {
    display: flex;
    flex-direction: row;
}