body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 30px 20px;
    padding-bottom: 0;
    display: flex; 
    flex-direction: row;
}

main {
    padding: 0rem 4rem;
}

h2 {
    margin-left: auto;
}

p {
    margin: 0;
    padding: 10px 20px;
}

.content {
    min-height: 100vh;
    padding: 15px;
    display: grid;
    grid-template-columns: minmax(150px, 35%) 1fr;
}

.dnd {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#drag-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 23.5%));
    padding: 20px;
}

#drop-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.drag-item {
    margin: 5px;
    height: 65px;
}

.drop-item {
    display: grid;
    grid-template-columns: minmax(250px, 70%) minmax(150px, 30%);
    min-height: 100px;
    margin: 5px 0;
}

img {
    width: 50px;
}