body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    margin: 15px 15px 0px 15px;
    padding: 30px 20px;
    display: flex; 
    flex-direction: row;
}

main {
    margin: 0 15px;
    padding: 30px 20px;
}

h2 {
    margin-left: auto;
}

p {
    margin: 0;
}

.content {
    min-height: 100vh;
    padding: 15px;
}

.dnd {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
    padding: 10px;
}

#drag-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
}

#drop-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.drop-item {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 25%);
    min-height: 100px;
}

img {
    width: 50px;
}