@font-face {
    font-family: 'Star300';
    src: url('../assets/fonts/Star3000.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Star300';
    src: url('../assets/fonts/Star3000\ Heavy.ttf') format('truetype');
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: 'Star300Outline';
    src: url('../assets/fonts/Outlines/Star3000\ Outline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mozart';
    src: url('../assets/fonts/MozartNbp-93Ey.ttf');
}

body {
    font-family: system-ui, sans-serif;
}

h1 {
    font-family: Star300;
    font-size: 4rem;
    color: #FEE36E;
    margin-left: 5rem;
    margin-top: 1rem;
}

h2 {
    font-family: Star300Outline;
    font-size: 2rem;
    margin-right: 3rem;
    color: #FEE36E;
}

h3 {
    font-family: Mozart;
    font-size: 2.5rem;
    color: #FEE36E;
    margin: 5px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.term-name {
    font-family: Mozart;
    font-size: 1.5rem;
    letter-spacing: .7px;
    text-transform: uppercase;
}
